extends ../layouts/auth

block content
      h1
        i.bi.bi-box-arrow-in-right
        span.ms-2 เข้าสู่ระบบ
        hr
      form(action="/auth/login" method="post")
        .mb-3
          label#inputEmail.form-label
            i.bi.bi-envelope-fill
            span.ms-1 ที่อยู่อีเมล :
          input#inputEmail.form-control(type="email" name="email" placeholder="กรุณาระบุที่อยู่อีเมล"  required)
        .mb-3
          label#inputPassword.form-label
            i.bi.bi-key
            span.ms-1 รหัสผ่าน :
          input#inputPassword.form-control(type="password" name="password" placeholder="กรุณาระบุรหัสผ่าน"  required)
        .d-grid.mt-3
          button.btn.btn-success เข้าสู่ระบบ
      .bg-success.bg-opacity-50.p-3.mt-4
        .d-grid
          h2.h4.text-center ยังไม่มีสมาชิก ?
          a.btn.btn-primary.mt-2(href="/auth/register") คลิกสมัครสมาชิกผ่านอีเมล
