if alert.success && alert.success.length > 0
  .alert.alert-success
    ul.m-0
      each message in alert.success
        li= message

if alert.error && alert.error.length > 0
  .alert.alert-danger
    ul.m-0
      each message in alert.error
        li= message
